# IntelliJ
.idea/
*.iml
out/

# Build
target/
build/
.gradle/
*.class
*.jar
*.war

# Logs e tmp
*.log
*.tmp
*.cache
*.swp

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Secrets
.env
*.env
*.key
